.button {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 13px 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.text {
  font-family: 'Basis Grotesque Pro';
  font-weight: 500;
  line-height: 1.31rem;
}

.contained {
  background-color: #316fea;
  color: #fff;
  border: 1px solid #d3d8dc;
}

.outlined {
  background: transparent;
  color: #060e1e;
  border: 1px solid #d3d8dc;
}
